.pageMargins{

}
.favoriteButton{
    color: palevioletred;
}

/*main page headings*/
.heading{
  color: darkslategrey;
    /*font-family: "Monaco", "Lucida Console", monospace;*/
    font-family: "Optima", "Arial", sans-serif;
    text-align: center;
    height:100px;
    font-size: 330%;
}

/*smaller page headings*/
.heading2{
    font-family: "Optima", "Arial", sans-serif;
    font-size: 150%;
}

/*title of recipe on each tecipe page*/
.recipePageTitle{
    font-family: "Optima", "Arial", sans-serif;
    text-align: center;
    height:100px;
    font-size: 330%;
}

input{
    margin-bottom: 20px;
    height: 20px;
}

.userInput{
    width: 20%;
    margin: 0 auto;
}

.recipeImage{
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 25px;
}

.recipeImageResults{
    display: block;
    margin: auto;
    border-radius: 10px;
    max-width: 100%;
}

.recipeCard{
  background-color: honeydew;
  width: 300px;
  border: 10px solid green;
  padding: 50px;
  margin: 20px;
  display: inline-block;
  border-radius: 25px;
}






