{% extends "base.html" %}
{% block content %}

  {% if results|length == 0 %}
    <h1 class="heading">Recipes Including your Ingredients</h1>
<!--    <p>No results were found for your query: {{ingredients}}. Please go back and try again.</p>-->
  {% else %}
<!--for each recipe that comes after the user enters their groceries list,  recipe name, -->


      <h1 class="heading">Recipes Including your Ingredients</h1>
<div class="recipeCardContainer">
    {% for recipe in results %}
<!--        {{recipe}}<br>-->

<!--div class for each card-->
        <div class="recipeCard">
        <h2 class="heading2 heading3">{{recipe.title}}</h2><br>

        <img class="recipeImageResults" src="{{recipe.image}}" alt="Image of {{recipe.title}}"><br>

        <form method="POST" action="/recipe">
            <button class="readMoreButton buttonCentered" type="submit" name="btn_{{recipe.id}}">Read More</button>
        </form>
<!--            add button for favoriting       -->
<!--        <form method="POST" action="/saved">-->
<!--            <input type="submit" name="btn_{{recipe.id}}" value="Favorite">-->
<!--        </form>-->

        </div>
    {% endfor %}
</div>
  {% endif %}

{% endblock %}