{% extends "base.html" %}
{% block content %}

  {% if results|length == 0 %}
    <h1 class="heading">Recipes Including your Ingredients</h1>
<!--    <p>No results were found for your query: {{ingredients}}. Please go back and try again.</p>-->
  {% else %}
<!--for each recipe that comes after the user enters their groceries list,  recipe name, -->


      <h1 class="heading">Recipes Including your Ingredients</h1>
    {% for recipe in results %}
<!--        {{recipe}}<br>-->

<!--div class for each card-->
        <div class="recipeCard">
        <h2 class="heading2">{{recipe.title}}</h2><br>

        <img class="recipeImageResults" src="{{recipe.image}}" alt="Image of {{recipe.title}}"><br>

        <form method="POST" action="/recipe">
            <input type="submit" name="btn_{{recipe.id}}" value="Read More">
        </form>
<!--            add button for favoriting       -->
        <form method="POST" action="/saved">
            <input type="submit" name="btn_{{recipe.id}}" value="Favorite">
        </form>

        </div>
    {% endfor %}

  {% endif %}

{% endblock %}