<!-- Template containing the form  -->
{% extends "base.html" %}
{% block content %}

<form method = 'POST' action = '/results'>
    <h1 class="heading">Find Recipes for you</h1>

<!--A text input field for the place name-->
    <label for="ingredients">Enter your groceries from this week:</label><br>
    <input type="text" id="ingredients" name="ingredients"><br>

<!--A number input field for the number of results to return.-->
    <label for="number">Maximum number of results:</label><br>
    <input type="number" id="number" name="number" value="10"><br>

  <input type="submit" value="Submit">

</form>

{% endblock %}
